@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExample" class="carousel slide mt-1 pb-2">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/HomeSlider1.jpg" height="500" class="d-block w-100" alt="image1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/HomeSlider2.jpg" height="500" class="d-block w-100" alt="image2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/HomeSlider3.jpg" height="500" class="d-block w-100" alt="image3">
        </div>
        <div class="carousel-item">
            <img src="~/Images/HomeSlider4.jpg" height="500" class="d-block w-100" alt="image4">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Smokey Grey Dunk</h4>
             </div>
            <img src="~/Images/HomeCard1.jpg" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Flat 50% off !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Low Dunk</h4>
            </div>
            <img src="~/Images/HomeCard2.jpg"
                 alt="Skyscrapers" height="240" width="320" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Flat 10%-20% off !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">High Top Dunk Jordans</h4>
             </div>
            <img src="~/Images/HomeCard3.jpg" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    100% Cashback !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Footbaal Shoes</h4>
            </div>
            <img src="~/Images/HomeCard4.jpg" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Be unstopable !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Winter Special</h4>
            </div>
            <img src="~/Images/HomeCard5.gif" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Its COOL !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Running Shoes</h4>
            </div>
            <img src="~/Images/HomeCard6.jpg"
                 alt="Skyscrapers" height="240" width="320" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Run O'Clock !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Chelsay Boots</h4>
            </div>
            <img src="~/Images/HomeCard7.jpg" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Be with Nature !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 p-3">
            <div class="card-body">
                <h4 class="text-center fw-bolder">Formals</h4>
            </div>
            <img src="~/Images/HomeCard8.jpg" height="240" width="320"
                 alt="Skyscrapers" />
            <div class="card-body text-center">
                <h3 class="card-text">
                    Ace Interviews !!
                </h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                    View More
                </button>
            </div>
        </div>
    </div>
</div>